/*!
global > color
------------------------------
*/
:root {
  --color-main: #6da6d0;
  --color-key: #002e5b;
  --color-bg-gray: #f3f3f3;
  --color-bg-navigray: #e7f0f6;
  --color-bg-button: #6da6d0;
  --color-bg-button__hover: #95bedd; // SP-navi-hover
  --color-font-base: #5d5d5d;
  --color-font-light: #989898;
  --color-footer-bar: #3a6594;
}
