@use "../global"as g;

/*!
layout > container
------------------------------
*/
%container {
  margin: 0 auto;
}

.l-container-s {
  @extend %container;
  max-width: var(--width-content-s);
  width: 100%;
}

.l-container {
  @extend %container;
  max-width: var(--width-content);
  width: calc(100% - (1.2rem *2));
  /* SP:md以下 */

  @include g.mq() {
    width: calc(100% - (13% *2));
    /* md以上 */
  }

  @include g.mq(xl) {
    max-width: 1400px;
    /* md以上 */
  }
}