@use "../global" as g;

/*!
layout > header
------------------------------
*/

/* 
** xl:1400 **
** sm:400 **
** lg:1024px **
*/

// フォントサイズ計算
$baseFontSize: 16;

@function rem($pixels) {
  @return calc($pixels / $baseFontSize * 1rem);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: #fff;
  // ※SPnavi重なり順優先の為positionとz-index: 999;は外さないこと

  @media screen and (min-width: 1000px) {
    height: 150px;

    .SPnavi_footer {
      display: none;
    }
  }
}

.headerInner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .siteID {
    width: clamp(150px, 21%, 400px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      height: 70px;
    }
  }

  .siteID img {
    width: 100%;
    margin: 10px;
    fill: currentColor;

    @media screen and (max-width: 1000px) {
      height: 70px;
    }
  }

  .siteID__SPnavi {
    display: none;
  }
}

/*! 
ヘッダーナビ */

nav.wrapperNavi {
  @media screen and (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex: 1;

    .headerContents {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      flex: 1;
      height: 150px;
    }

    .searchwrap {
      text-align: right;
      padding-right: 2.4rem;
      flex: 1;
    }

    .searchBox {
      margin: 1.5rem 0;
    }

    .searchBox input[type="text"] {
      background: #fff;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      border: solid 1px var(--color-bg-button);
      padding-left: 1rem;
    }

    .searchBox input[type="text"]:focus {
      outline: 0;
    }

    .searchBox input[type="submit"] {
      cursor: pointer;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 22px;
      background: var(--color-bg-button);
      color: #fff;
      outline: none;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 1000px) {
    position: fixed;
    opacity: 0;
    right: -100vw;
    /* 右から出てくる */
    top: 70px;
    padding-top: 22px;
    width: 100vw;
    height: 100vh;
    background: var(--color-bg-button) url(/img/header/bg_sp_navi.svg) no-repeat
      right 0 bottom 10px;
    color: #fff;
    transition: all 0.6s;
    z-index: 200;
    overflow-y: auto;
    /* メニューが多ければスクロール */
  }
}

ul.headerNavi {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  z-index: 100;
  margin-top: auto;

  // SP
  @media screen and (max-width: 1000px) {
    & > li {
      text-align: left;
    }

    .SPonly {
      border-top: 1px solid var(--color-bg-button__hover);
      display: block;
    }

    .topicon {
      display: none;
    }

    & > li a {
      display: block;
      padding: 0.5rem 0 0.5rem 20%;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid var(--color-bg-button__hover);
      color: #fff;
    }

    & > li a:hover {
      color: #fff;
      border-bottom: none;
      background-color: var(--color-bg-button__hover);
    }
  }

  // PC
  @media screen and (min-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 3.4rem;

    .SPonly {
      display: none;
    }

    & > li a {
      color: var(--color-key);
      padding: 0 2.4vw; // .searchwrap:padding
      line-height: 3.4rem;
      display: inline-block;
      width: 100%;
      text-align: center;

      @media screen and (max-width: 1200px) {
        padding: 0 1vw;
      }
    }
  }

  & > li a:hover {
    color: #fff;
    background-color: var(--color-bg-button__hover);
  }
}

// サブメニュー共通
ul.headerNavi li li {
  height: 0;
  overflow: hidden;
  transition: 0.3s;

  a {
    line-height: 3rem;
  }

  // PC
  @media screen and (min-width: 1000px) {
    a {
      color: var(--color-key);
      border-top: solid 2px #fff;
      background-color: var(--color-bg-navigray);
      display: inline-block;
      padding: 0 0.5rem;
    }

    a:hover {
      // color: lighten(#002E5B, 10%);
      color: #fff;
      background-color: var(--color-bg-button__hover);
    }
  }
}

// サブメニュードロップダウン：ホバー直下のサブメニュー高さ戻す
ul.headerNavi li:hover > ul > li {
  height: 3rem;
  overflow: visible;
}

// SP
@media screen and (max-width: 1000px) {
  ul.headerNavi li li {
    height: 0;

    a {
      color: #fff;
      //border-top: solid 2px var(--color-bg-button__hover);
      background-color: var(--color-bg-button);
      display: block;
      line-height: 3rem;
      padding: 0 0.5rem 0 23%;
    }

    a::before {
      content: " -  ";
    }

    a:hover {
      // color: lighten(#002E5B, 10%);
      color: #fff;
      background-color: var(--color-bg-button__hover);
    }
  }

  // サブメニュードロップダウン：ホバー直下のサブメニュー高さ戻す
  ul.headerNavi li:hover > ul > li {
    height: rem(42);
    height: 3rem;
    overflow: visible;
  }
}

/*! 
SPnavi
ハンバーガーボタン base */

@media screen and (min-width: 1000px) {
  .btn__SPnavi {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .btn__SPnavi {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 300;
    background-color: var(--color-bg-button);
  }

  .menutxt::after {
    content: "MENU";
    color: #fff;
    position: absolute;
    top: 35px;
    left: 15px;
  }

  .SPnavi_border,
  .menutxt {
    transition: all 0.4s;
    font-size: rem(11);
  }

  .SPnavi_border {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }

  .SPnavi_border_top {
    top: 10px;
  }

  .SPnavi_border_center {
    top: 20px;
  }

  .SPnavi_border_bottom {
    top: 30px;
  }

  // メニュー全面覆わない時の為のコンテンツ黒背景
  .bg-black {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    cursor: pointer;
  }

  /* SPnavi-open時 */
  .SPnavi-open {
    .header {
      background-color: var(--color-bg-button);
      transition: all 0.6s;
    }

    .headerInner {
      position: relative;

      .siteID {
        display: none;
      }

      .siteID__SPnavi {
        // display: inline-block;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        // position: absolute;
        // top: 0;
        // left: 0;

        //z-index: 110;
        background-color: var(--color-bg-button);
        img {
          width: auto;
          height: 60px;
          padding: 5px 8px;
          align-self: start;
        }
        svg {
          color: fill(#fff);
        }
      }

      .siteID__SPnavi img {
        height: 70px;
      }

      .siteID__SPnavi svg {
        color: fill(#fff);
      }

      .searchwrap {
        display: none;
      }
    }

    nav.wrapperNavi {
      right: 0;
      opacity: 1;
    }

    .bg-black {
      opacity: 0.8;
      visibility: visible;
    }

    .menutxt::after {
      content: "CLOSE";
    }

    .SPnavi_border_top {
      transform: rotate(45deg);
      top: 20px;
    }

    .SPnavi_border_center {
      width: 0;
      left: 50%;
    }

    .SPnavi_border_bottom {
      transform: rotate(-45deg);
      top: 20px;
    }

    .SPnavi_footer {
      display: block;
      padding: 2.8rem 2vw;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @media screen and (max-width: 400px) {
        padding: 2.8rem 2vw;
      }

      span {
        display: block;
        letter-spacing: 0.08em;
      }

      .company-name {
        font-size: rem(26);
      }

      .address {
        font-size: rem(20);
      }

      .contact__address {
        display: block;
        text-align: center;
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        font-size: rem(15);
        font-weight: bold;
        margin: 3rem 10px;
        padding: 1.5rem;
        position: relative;

        &:hover {
          background-color: var(--color-bg-button__hover);
        }

        & span {
          display: inline-block;
          padding-left: 1vw;
          @include g.mq_max() {
            padding-left: 10vw;
          }
        }

        & span::before {
          content: "";
          position: absolute;
          top: 0;
          left: 3vw;
          right: 0;
          bottom: 0;
          background: url(/img/header/icon_contactmail.svg) left center
            no-repeat;

          @media screen and (max-width: 400px) {
            left: 5vw;
          }
        }
      }
    }
  }
}

/*!
フォントサイズ
*/

ul.headerNavi li {
  font-size: 1.2rem;
  letter-spacing: 0.1em;

  li {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  ul.headerNavi li {
    font-size: clamp(1rem, 1.8vw, 1.3rem);
    letter-spacing: 0.1em;

    li {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }
}
