@use "../global" as g;

/*!
project > p-news-entry
------------------------------
*/

/*
フォントサイズ計算 */
$baseFontSize: 16;

@function rem($pixels) {
  @return calc($pixels / $baseFontSize * 1rem);
}

.entry_date,
.entry_title {
  font-weight: bold;
}

.n-date,
.entry_date,
.entry_title {
  font-size: 1rem;
  line-height: 2;
  @include g.mq() {
    font-size: 1.2rem;
  }
}

.entry_title {
  width: 100%;
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  color: var(--color-key);

  &:hover {
    // background-color: var(--color-bg-button__hover);
    color: var(--color-bg-button);
  }
}

.n-date {
  width: 7rem;
  @include g.mq(lg) {
    width: 10rem;
  }
}

.entry__page {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  @include g.mq_max(md) {
    flex-direction: column;
  }
}

.p-news-entry__line {
  font-weight: bold;
  display: flex;
  flex-direction: column; // liのタテ並び
  align-items: flex-start;

  li {
    width: 100%;
    text-align: left;
    border-bottom: solid 1px var(--color-font-base);
    padding-right: 1rem;
    padding-top: 1rem;

    span {
      display: inline-block;
    }
    img {
      width: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    @include g.mq_max(md) {
      flex-direction: column;
    }
    .entry_title {
      width: 100%;
      flex: 1;
      display: inline-flex;
      justify-content: space-between;
    }

    @include g.mq_max(md) {
      margin-bottom: 0.8rem;
      flex-direction: column;
      gap: 0.8rem;

      li {
        text-align: left;
        display: block;
      }

      .entry_title {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
      }

      .c-cateTag__news {
        padding: 0.3rem 1rem;
      }
    }

    @include g.mq(md) {
      li {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        justify-items: flex-start;
        gap: 1rem;
      }

      .n-date {
        flex: 0;
      }

      .c-cateTag__news {
        padding: 0.2rem 1.2rem;
      }

      .entry_title {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
      }
    }
  }
}
