@use "../global" as g;

/*!
project > p-pict-section
------------------------------
*/

/*
フォントサイズ計算 */
$baseFontSize: 16;

@function rem($pixels) {
  @return calc($pixels / $baseFontSize * 1rem);
}

/*!
トップページ 左写真付きコンテンツ */

.p-pict-section {
  display: flex;

  @include g.mq(md) {
    justify-content: center;

    .imgbox {
      width: clamp(300px, 45%, 900px);
      object-fit: cover !important;
    }

    .wrapper {
      max-width: 55%;

      .contents {
        max-width: 700px;
        align-self: center;
        padding: var(--contents-gap) 2rem var(--contents-gap) 0.8vw;
      }

      .inner-contents {
        margin-left: 2rem;
      }
    }
  }

  @include g.mq_max(md) {
    flex-direction: column;

    .imgbox img {
      aspect-ratio: 2/1;
    }

    .wrapper {
      padding-bottom: 3.25rem;

      .contents {
        width: 100%;
      }

      .inner-contents {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include g.mq(md) {
  .__Lpict {
    flex-direction: row;
  }

  .__Rpict {
    flex-direction: row-reverse;
  }
}
